.so-widget-sow-image-default-4f0b39e35a8a .sow-image-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.so-widget-sow-image-default-4f0b39e35a8a .sow-image-container > a {
  display: inline-block;
  
  
}
.so-widget-sow-image-default-4f0b39e35a8a .sow-image-container .so-widget-image {
  display: block;
  
  
  
}