.so-widget-sow-headline-default-f3145d343725 .sow-headline-container h1.sow-headline {
  text-align: center;
  
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-f3145d343725 .sow-headline-container h3.sow-sub-headline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #8e8e8e;
  line-height: 1.4em;
  
  margin-top: 50px;
  margin-bottom: 50px;
}
.so-widget-sow-headline-default-f3145d343725 .sow-headline-container h3.sow-sub-headline a {
  color: #8e8e8e;
}
.so-widget-sow-headline-default-f3145d343725 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.so-widget-sow-headline-default-f3145d343725 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 4px solid #e81be4;
  width: 100%;
  max-width: 175px;
}
.so-widget-sow-headline-default-f3145d343725 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-f3145d343725 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}