.so-widget-sow-image-default-72463164d13f .sow-image-container {
  display: flex;
  align-items: flex-start;
}
.so-widget-sow-image-default-72463164d13f .sow-image-container > a {
  display: inline-block;
  
  
}
.so-widget-sow-image-default-72463164d13f .sow-image-container .so-widget-image {
  display: block;
  
  
  
}