.so-widget-sow-features-default-bc09e935f89c .sow-features-list .sow-features-feature .textwidget {
    margin-left: 10px;
    margin-top: -20px;
}

.sow-features-list .textwidget {
	text-align: left !important;
  width: 300px;
}